@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: white;
  color: black; 
}

@keyframes openCart {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes closeCart {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(0, 0);
  }
}

.openCart {
  animation: openCart 300ms ease forwards;
}

.closeCart {
  animation: closeCart 300ms ease forwards;
}

:root {
  --fluid-pad: clamp(7rem, 10vw, 14rem); /* invariato per xl+ */
}

@media (min-width:1600px){
  :root { --fluid-pad: clamp(8rem,11vw,16rem); }
}

